
<div class="container-btn">

  <a [routerLink]="['/']" class="button">
    <i class="material-icons">sensor_door</i>home</a>

</div>
<h1> Welcome to Sneakers shop</h1>
 <div class="container">

<!--   <div>-->
<!--     <a [routerLink]="['/admin']" class="button">-->
<!--       <i class="material-icons">admin_panel_settings</i>admin</a>-->
<!--   </div>-->
  <div>
    <a [routerLink]="['/user']" class="button">
      <i class="material-icons">account_box</i>user</a>
  </div>
  <div>
    <a [routerLink]="['/shipping']" class="button">
      <i class="material-icons">local_shipping</i>shipping</a>
  </div>
  <div>
    <a [routerLink]="['/cart']" class="button">
      <i class="material-icons">shopping_bag</i>basket</a>
  </div>

</div>

